#teachers, #students, #password, #submit { display: none; }

#primary {
  padding: 50px 0;
}

.light-blue {
  background: $light-blue;
}

.bubble {
  float: left;
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  background: url(img/purple.png) no-repeat center;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
  height: 200px;
}

.bubble-text {
  color: white;
  text-align: center;
}

.farmer {
  float: left;
  position: relative;
  width: 100%;
  text-align: left;
}

// Login

.login-form select {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  height: 50px;
  border: white;
  overflow: hidden;
  width: 100%;
  background: url(img/down_arrow.png) no-repeat right white;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
  background-position: right 20px center;
  padding-left: 20px;
  text-transform: uppercase;
  color: $light-green;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-form select option {
  text-transform: capitalize;
}

.login-form input {
  background: white;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: $light-green;
  padding-left: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.login-form input::-webkit-input-placeholder {
  color: $light-green !important;
}

.login-form input:-moz-placeholder { /* Firefox 18- */
  color: $light-green !important;
}

.login-form input::-moz-placeholder {  /* Firefox 19+ */
  color: $light-green !important;
}

.login-form input:-ms-input-placeholder {
  color: $light-green !important;
}

.login-text {
  text-align: center;
  color: white;
  position: relative;
  margin-top: 185px;
  z-index: 9999999;


  h1 {
    font-size: 81px;
    text-transform: uppercase;

    @include mq($tablet-width, 'max-width') {
      font-size: 50px;
      line-height: 60px;
    }
  }
}



.login-button {
  -webkit-border-radius: 20px;
  border-radius: 25px;
  width: 200px;
  background: white;
  background-position: right 20px center;
  text-align: center;
  padding: 15px 25px;
  height: 50px;
  color: $purple;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 9999999;
  position: relative;

  @include mq($tablet-width, 'max-width') {
    width: 100%;
    float: left;
    margin-bottom: 20px;
  }
}

#submit {
 
  right: 0;
  bottom: 0;
  border: 0;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 200px;
  background-color: white;
  background-position: right 20px center;
  text-align: left;
  padding-left: 20px;
  height: 50px;
  color: $purple;
  font-weight: bold;
  padding-right: 20px;
  float: right;

  .submit-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    float: right;
    border-left: 20px solid $purple;
  }

  &:hover {
    color: white;
    background: url(img/signin.png) no-repeat right $purple;

    .submit-arrow {
      border-left: 20px solid white;
    }
  }
}

#page {
  overflow: hidden;
}

// Modules

.module-text {
  color: white;
  padding-right: 50px;

  span {
    color: $purple;
  }

  h1 {
    margin-top: 0;
    line-height: 1.4em;
  }
}

.module-list {
  float: left;
  width: 100%;
  border: 5px white dashed;
  border-radius: 10px;
  padding: 10px 0;
  margin-bottom: 20px;

  .module {
    width: 100%;
    float: left;
    padding: 10px 25px;
    text-transform: uppercase;
    color: white;
    text-weight: bold;
    position: relative;

    h2 {
      line-height: 0;
    }

    a {
      color: white;

      &:hover {
        color: $purple;
      }
    }
  }
}

.module-next {
  float: left;
  width: 100%;
  border-radius: 25px;
  background: #FFF none repeat scroll right 20px center;
  text-align: center;
  padding: 15px 25px;
  height: 50px;
  z-index: 9999999;
  position: relative;
  color: $purple;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    background: $purple;
    color: white;
  }
}

.checkbox {
  position: absolute;
  right: 25px;
  top: 15px;
}

.checkmark {
  position: absolute;
  right: 19px;
  top: 5px;
}

.module-section {
  float: left;
  width: 100%;
  position: relative;
  min-height: 75px;
}

// Question

.menu-bar {
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  font-size: 12px;
  letter-spacing: 0.08em;
}

.menu-game-name {
  color: white;
}

.menu-title {
  font-weight: bold;
  float: left;
  padding: 5px 10px;
  border-radius: 20px;
  display: inline-block;
  z-index: 10;
  position: relative;
}

.menu-sound {
  background-color: white;
  padding: 5px 10px 5px 40px;
  display: inline-block;
  float: left;
  position: relative;
  border-radius: 20px;
  left: -30px;
  transition: 1s;
  -webkit-transition: 1s;
  cursor: pointer;

  i {
      color: #929292;
  }

  .menu-label {
      display: inline;
      margin-left: 15px;
      color: #929292;
      font-size: 12px;

      i {
          color: #0ed59c;
          margin-right: 5px;
      }
  }


}


.post-type-archive-modules, .page-template-student-login {
  background: $light-blue;

  .menu-title {
    background: $dark-blue;
  }
}


.page-template-intro {
  background: $light-blue;
}

.button-control {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 0;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 250px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  font-weight: bold;
  z-index: 9999999;
 


  .button-control-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}
.introsection .button-control {
  position: relative;
   float: right;
}
.next-arrow {
  float: right;
}
.next-text {
  float: left;
}

.prev {
  .prev-arrow {
    float: left;
  }
  .prev-text {
    float: right;
  }
}

.print {
  .print-arrow {
    float: right;
  }
  .print-text {
    float: left;
  }
}

.return {
  .return-arrow {
    float: right;
  }
  .return-text {
    float: left;
  }
}

.start {
  .next-arrow {
    float: right;
  }
}

// Progress bar

.progress-farm {
  height: 25px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 9999999;
}

.progress-farm-point {
  float: left;
  height: 25px;
}

.progress-farm-point-sprout {
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin: auto;
  position: relative;
  top: -20px;
}

.progress-farm-point-plant {
  background-repeat: no-repeat;
  width: 40px;
  height: 75px;
  margin: auto;
  position: relative;
  top: -50px;
  display: none;
}

.module-1 {
  background: $green;

  .menu-title {
    background: $dark-green;
  }
  .menu-module-name {
    color: $light-green;
  }
  .menu-sound {
    color: $dark-green;
  }
  .progress-plate {
    background: $dark-green;
  }
  .prev {
    background-color: $dark-green;
    color: $light-green;
    left: 0;

    .prev-arrow {
      border-right: 20px solid $light-green;
    }

    &:hover {
      background-color: white;
      color: $dark-green;

      .prev-arrow {
        border-right: 20px solid $dark-green;
      }
    }
  }

  .next, .print, .return, .start {
    background-position: right 20px center;
    background-color: white;
    color: $dark-green;

    .next-arrow {
      border-left: 20px solid $dark-green;
    }

    &:hover {
      background-color: $dark-green;
      color: white;

      .next-arrow {
        border-left: 20px solid white;
      }
    }

  }

  .progress-farmer {
    background-image: url(img/farmer-purple.png);
  }

  .progress-farm {
    background-color: $purple;
  }

  .progress-farm-point-sprout {
    background-image: url(img/sprout-green.png);
  }

  .progress-farm-point-plant {
    background-image: url(img/plant-green.png);
  }

}

.module-2 {
  background: $blue;

  .menu-title {
    background: $dark-blue;
  }
  .menu-module-name {
    color: $light-blue;
  }
  .menu-sound {
    color: $dark-blue;
  }
  .progress-plate {
    background: $dark-blue;
  }
  .prev {
    background-color: $dark-blue;
    color: $light-blue;
    left: 0;

    .prev-arrow {
      border-right: 20px solid $light-blue;
    }

    &:hover {
      background-color: white;
      color: $dark-blue;

      .prev-arrow {
        border-right: 20px solid $dark-blue;
      }
    }
  }

  .next, .print, .return, .start {
    background-position: right 20px center;
    background-color: white;
    color: $dark-blue;

    .next-arrow {
      border-left: 20px solid $dark-blue;
    }

    &:hover {
      background-color: $dark-blue;
      color: white;

      .next-arrow {
        border-left: 20px solid white;
      }
    }

  }

  .module-text {
    span {
      color: #ffcd2b;
    }
  }

  .progress-farm {
    background-color: $yellow;
  }

  .progress-farmer {
    background-image: url(img/farmer-blue.png);
  }

  .progress-farm-point-sprout {
    background-image: url(img/sprout-blue.png);
  }

  .progress-farm-point-plant {
    background-image: url(img/plant-blue.png);
  }

}

.module-3 {
  background: $red;

  .menu-title {
    background: $dark-red;
  }
  .menu-module-name {
    color: $light-red;
  }
  .menu-sound {
    color: $dark-red;
  }
  .progress-plate {
    background: $dark-red;
  }
  .prev {
    background-color: $dark-red;
    color: $light-red;
    left: 0;

    .prev-arrow {
      border-right: 20px solid $light-red;
    }

    &:hover {
      background-color: white;
      color: $dark-red;

      .prev-arrow {
        border-right: 20px solid $dark-red;
      }
    }
  }

  .next, .print, .return, .start {
    background-position: right 20px center;
    background-color: white;
    color: $dark-red;

    .next-arrow {
      border-left: 20px solid $dark-red;
    }

    &:hover {
      background-color: $dark-red;
      color: white;

      .next-arrow {
        border-left: 20px solid white;
      }
    }

  }

  .module-text {
    span {
      color: #0ed59c;
    }
  }

  .progress-farmer {
    background-image: url(img/farmer-red.png);
  }

  .progress-farm {
    background-color: $green;
  }

  .progress-farm-point-sprout {
    background-image: url(img/sprout-red.png);
  }

  .progress-farm-point-plant {
    background-image: url(img/plant-red.png);
  }

}

.module-4 {
  background: $purple;

  .menu-title {
    background: $dark-purple;
  }
  .menu-module-name {
    color: $light-purple;
  }
  .menu-sound {
    color: $dark-purple;
  }
  .progress-plate {
    background: $dark-purple;
  }
  .prev {
    background-color: $dark-purple;
    color: $light-purple;
    left: 0;

    .prev-arrow {
      border-right: 20px solid $light-purple;
    }

    &:hover {
      background-color: white;
      color: $dark-purple;

      .prev-arrow {
        border-right: 20px solid $dark-purple;
      }
    }
  }

  .next, .print, .return, .start {
    background-position: right 20px center;
    background-color: white;
    color: $dark-purple;

    .next-arrow {
      border-left: 20px solid $dark-purple;
    }

    &:hover {
      background-color: $dark-purple;
      color: white;

      .next-arrow {
        border-left: 20px solid white;
      }
    }

  }

  .module-text {
    span {
      color: #0ed59c;
    }
  }

  .progress-farmer {
    background-image: url(img/farmer-purple.png);
  }

  .progress-farm {
    background-color: $green;
  }

  .progress-farm-point-sprout {
    background-image: url(img/sprout-purple.png);
  }

  .progress-farm-point-plant {
    background-image: url(img/plant-purple.png);
  }
}

.module-5 {
  background: $yellow;

  .menu-title {
    background: $dark-yellow;
  }
  .menu-module-name {
    color: $light-yellow;
  }
  .menu-sound {
    color: $dark-yellow;
  }
  .progress-plate {
    background: $dark-yellow;
  }
  .prev {
    background-color: $dark-yellow;
    color: $light-yellow;
    left: 0;

    .prev-arrow {
      border-right: 20px solid $light-yellow;
    }

    &:hover {
      background-color: white;
      color: $dark-yellow;

      .prev-arrow {
        border-right: 20px solid $dark-yellow;
      }
    }
  }

  .next, .print, .return, .start {
    background-position: right 20px center;
    background-color: white;
    color: $dark-yellow;

    .next-arrow {
      border-left: 20px solid $dark-yellow;
    }

    &:hover {
      background-color: $dark-yellow;
      color: white;

      .next-arrow {
        border-left: 20px solid white;
      }
    }

  }

  .module-text {
    span {
      color: #0072bc;
    }
  }

  .progress-farmer {
    background-image: url(img/farmer-blue.png);
  }

  .progress-farm {
    background-color: $blue;
  }

  .progress-farm-point-sprout {
    background-image: url(img/sprout-blue.png);
  }

  .progress-farm-point-plant {
    background-image: url(img/plant-blue.png);
  }

}

.module-6 {
  background: $orange;

  .menu-title {
    background: $dark-orange;
  }
  .menu-module-name {
    color: $light-orange;
  }
  .menu-sound {
    color: $dark-orange;
  }
  .progress-plate {
    background: $dark-orange;
  }
  .prev {
    background-color: $dark-orange;
    color: $light-orange;
    left: 0;

    .prev-arrow {
      border-right: 20px solid $light-orange;
    }

    &:hover {
      background-color: white;
      color: $dark-orange;

      .prev-arrow {
        border-right: 20px solid $dark-orange;
      }
    }
  }

  .next, .print, .return, .start {
    background-position: right 20px center;
    background-color: white;
    color: $dark-orange;

    .next-arrow {
      border-left: 20px solid $dark-orange;
    }

    &:hover {
      background-color: $dark-orange;
      color: white;

      .next-arrow {
        border-left: 20px solid white;
      }
    }

  }

  .progress-farmer {
    background-image: url(img/farmer-purple.png);
  }

  .progress-farm {
    background-color: $purple;
  }

  .progress-farm-point-sprout {
    background-image: url(img/sprout-purple.png);
  }

  .progress-farm-point-plant {
    background-image: url(img/plant-purple.png);
  }

}

.progress-plate {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100px;
  width: 100px;

  img {
    position: relative;
    top: 10px;
    padding: 5px;
    width: 100%;
  }
}

.module-image {
  text-align: center;
  position: relative;
  margin: 50px auto 0px;
}

.modules-image {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

.answer {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
  animation-delay: 2s;
}

.answer-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 20px 0;
  height: 150px;
  position: relative;

  img {
    height: 80%;
  }
}

.answer {
  cursor: pointer;

  &:hover {
    .answer-image {
      background-size: contain;

      img {
        height: 100%;
        position: relative;
        top: 0px;
      }
    }
  }
}

.answer-image-hover {
  background-size: contain;

  img {
    height: 100%;
    position: relative;
    top: 0px;
  }
}

.module-1 {

  // Answer image 1

  .answer-1 {
    .answer-image-1 {
      background-image: url(img/star.png);

    }
    .answer-image-1-hover {
      background-image: url(img/hover/PurpleStar_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $purple;
      }
    }
    &:hover {
      .answer-image-1 {
        background-image: url(img/hover/PurpleStar_Hover.png);
      }

      .answer-text {
        color: $purple;
      }
    }
  }

  // Answer image 2

  .answer-2 {
    .answer-image-2 {
      background-image: url(img/circle.png);
    }
    .answer-image-2-hover {
      background-image: url(img/hover/PurpleO_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $purple;
      }
    }
    &:hover {
      .answer-image-2 {
        background-image: url(img/hover/PurpleO_Hover.png);
      }
      .answer-text {
        color: $purple;
      }
    }
  }

  // Answer image 3

  .answer-3 {
    .answer-image-3 {
      background-image: url(img/cloud.png);
    }
    .answer-image-3-hover {
      background-image: url(img/hover/PurpleCloud_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $purple;
      }
    }
    &:hover {
      .answer-image-3 {
        background-image: url(img/hover/PurpleCloud_Hover.png);
      }
      .answer-text {
        color: $purple;
      }
    }
  }

  // Answer image 4

  .answer-4 {
    .answer-image-4 {
      background-image: url(img/x.png);
    }
    .answer-image-4-hover {
      background-image: url(img/hover/PurpleX_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $purple;
      }
    }
    &:hover {
      .answer-image-4 {
        background-image: url(img/hover/PurpleX_Hover.png);
      }
      .answer-text {
        color: $purple;
      }
    }
  }

  .answer-5 {

    .answer-image-5 {
      background-image: url(img/star.png);
    }
    .answer-image-5-hover {
      background-image: url(img/hover/PurpleStar_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $purple;
      }
    }

    &:hover {
      .answer-image-5 {
        background-image: url(img/hover/PurpleStar_Hover.png);
      }

      .answer-text {
        color: $purple;
      }
    }
  }

  .reward-answer:hover, .reward-hover .reward-text {
    color: $purple;
  }

}

.module-2 {

  // Answer image 1

  .answer-1 {
    .answer-image-1 {
      background-image: url(img/star.png);
    }
    .answer-image-1-hover {
      background-image: url(img/hover/YellowStar_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $yellow;
      }
    }
    &:hover {
      .answer-image-1 {
        background-image: url(img/hover/YellowStar_Hover.png);
      }
      .answer-text {
        color: $yellow;
      }
    }
  }

  // Answer image 2

  .answer-2 {
    .answer-image-2 {
      background-image: url(img/circle.png);
    }
    .answer-image-2-hover {
      background-image: url(img/hover/YellowO_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $yellow;
      }
    }
    &:hover {
      .answer-image-2 {
        background-image: url(img/hover/YellowO_Hover.png);
      }
      .answer-text {
        color: $yellow;
      }
    }
  }

  // Answer image 3

  .answer-3 {
    .answer-image-3 {
      background-image: url(img/cloud.png);
    }
    .answer-image-3-hover {
      background-image: url(img/hover/YellowCloud_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $yellow;
      }
    }
    &:hover {
      .answer-image-3 {
        background-image: url(img/hover/YellowCloud_Hover.png);
      }
      .answer-text {
        color: $yellow;
      }
    }
  }

  // Answer image 4

  .answer-4 {
    .answer-image-4 {
      background-image: url(img/x.png);
    }
    .answer-image-4-hover {
      background-image: url(img/hover/YellowX_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $yellow;
      }
    }
    &:hover {
      .answer-image-4 {
        background-image: url(img/hover/YellowX_Hover.png);
      }
      .answer-text {
        color: $yellow;
      }
    }
  }

  .answer-5 {

    .answer-image-5 {
      background-image: url(img/star.png);
    }
    .answer-image-5-hover {
      background-image: url(img/hover/YellowStar_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $yellow;
      }
    }

    &:hover {
      .answer-image-5 {
        background-image: url(img/hover/YellowStar_Hover.png);
      }

      .answer-text {
        color: $yellow;
      }
    }
  }

  .reward-answer:hover, .reward-hover .reward-text {
    color: $yellow;
  }

}

.module-3, .module-4 {

  // Answer image 1

  .answer-1 {
    .answer-image-1 {
      background-image: url(img/star.png);
    }
    .answer-image-1-hover {
      background-image: url(img/hover/MintStar_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $green;
      }
    }
    &:hover {
      .answer-image-1 {
        background-image: url(img/hover/MintStar_Hover.png);
      }
      .answer-text {
        color: $green;
      }
    }
  }

  // Answer image 2

  .answer-2 {
    .answer-image-2 {
      background-image: url(img/circle.png);
    }
    .answer-image-2-hover {
      background-image: url(img/hover/MintO_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $green;
      }
    }
    &:hover {
      .answer-image-2 {
        background-image: url(img/hover/MintO_Hover.png);
      }
      .answer-text {
        color: $green;
      }
    }
  }

  // Answer image 3

  .answer-3 {
    .answer-image-3 {
      background-image: url(img/cloud.png);
    }
    .answer-image-3-hover {
      background-image: url(img/hover/MintCloud_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $green;
      }
    }
    &:hover {
      .answer-image-3 {
        background-image: url(img/hover/MintCloud_Hover.png);
      }
      .answer-text {
        color: $green;
      }
    }
  }

  // Answer image 4

  .answer-4 {
    .answer-image-4 {
      background-image: url(img/x.png);
    }
    .answer-image-4-hover {
      background-image: url(img/hover/MintX_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $green;
      }
    }
    &:hover {
      .answer-image-4 {
        background-image: url(img/hover/MintX_Hover.png);
      }
      .answer-text {
        color: $green;
      }
    }
  }

  .answer-5 {

    .answer-image-5 {
      background-image: url(img/star.png);
    }
    .answer-image-5-hover {
      background-image: url(img/hover/MintStar_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $green;
      }
    }

    &:hover {
      .answer-image-5 {
        background-image: url(img/hover/MintStar_Hover.png);
      }

      .answer-text {
        color: $green;
      }
    }
  }

  .reward-answer:hover, .reward-hover .reward-text {
    color: $green;
  }

}

.module-5 {

  // Answer image 1

  .answer-1 {
    .answer-image-1 {
      background-image: url(img/star.png);
    }
    .answer-image-1-hover {
      background-image: url(img/hover/BlueStar_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $blue;
      }
    }
    &:hover {
      .answer-image-1 {
        background-image: url(img/hover/BlueStar_Hover.png);
      }
      .answer-text {
        color: $blue;
      }
    }
  }

  // Answer image 2

  .answer-2 {
    .answer-image-2 {
      background-image: url(img/circle.png);
    }
    .answer-image-2-hover {
      background-image: url(img/hover/BlueO_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $blue;
      }
    }
    &:hover {
      .answer-image-2 {
        background-image: url(img/hover/BlueO_Hover.png);
      }
      .answer-text {
        color: $blue;
      }
    }
  }

  // Answer image 3

  .answer-3 {
    .answer-image-3 {
      background-image: url(img/cloud.png);
    }
    .answer-image-3-hover {
      background-image: url(img/hover/BlueCloud_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $blue;
      }
    }
    &:hover {
      .answer-image-3 {
        background-image: url(img/hover/BlueCloud_Hover.png);
      }
      .answer-text {
        color: $blue;
      }
    }
  }

  // Answer image 4

  .answer-4 {
    .answer-image-4 {
      background-image: url(img/x.png);
    }
    .answer-image-4-hover {
      background-image: url(img/hover/BlueX_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $blue;
      }
    }
    &:hover {
      .answer-image-4 {
        background-image: url(img/hover/BlueX_Hover.png);
      }
      .answer-text {
        color: $blue;
      }
    }
  }

  .answer-5 {

    .answer-image-5 {
      background-image: url(img/star.png);
    }
    .answer-image-5-hover {
      background-image: url(img/hover/BlueStar_Active.png) !important;
    }
    &.answer-hover {
      .answer-text {
        color: $blue;
      }
    }

    &:hover {
      .answer-image-5 {
        background-image: url(img/hover/BlueStar_Hover.png);
      }

      .answer-text {
        color: $blue;
      }
    }
  }

  .reward-answer:hover, .reward-hover .reward-text {
    color: $blue;
  }

}


.reward-answer {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.reward-image {
  margin: auto;
  display: table-cell;
  vertical-align: middle;

  img {
    width: 100px;

    &:hover {
      width: 150px;
    }
  }
}


.reward-image-container {
  height: 175px;
  position: relative;
  display: table;
  width: 100%;
}

.reward-image-hover {
  padding: 0;
  top: 0;

  img {
    width: 150px;
  }
}

.question {
  display: none;
}

.welcome {
  display: none;
}

.congratulations {
  display: none;
}


.module-number {
  color: #7f3198;
  line-height: 0;
}

.answer-text, .reward-text {
  margin: 10px;
}

.module-food {
  position: absolute;
  bottom: 0;
  right: 0;

  img {
    float: left;
  }
}

.page-template-login {
  background-repeat: no-repeat;
  background-size: cover;
}

.progress-farmer {
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  top: -35px;
}

.reward {
  display: none;
  cursor: pointer;
}

.congratulations {
  display: none;
}

.bonus {
  display: none;
}

.complete {
  display: none;
}

.woohoo {
  display: none;
}

.yay {
  display: none;
}

.reward-images {
  position: absolute;
  top: 0;
  width: 100%;
}

.reward-image-final {
  width: 100px;
}

.reward-image-final-0 {
  position: absolute;
  left: 20px;
  top: 170px;
}


.reward-image-final-1 {
  position: absolute;
  left: 30px;
  top: 42px;
}

.reward-image-final-2 {
  position: absolute;
  left: 150px;
  top: 60px;
}

.reward-image-final-3 {
  position: absolute;
  left: 152px;
  top: 177px;
}

.reward-image-final-4 {
  position: absolute;
  top: -6px;
  right: -1px;
}

.center {
  text-align: center;
}

.bonus-image {
  margin: 200px 0 100px;
  z-index: 1000000;
  position: relative;

  img {

  }
}

.congratulations-no-reward {
  display: none;
}

.intro-image {
  text-align: center;
  float: left;
}

.intro-image-top {
  margin: 10px;
  max-width: 90%;
}

.intro-image-bottom {
  margin: -10px auto ;
  width: 100%;
  margin-left: 45%;
  @include mq('1080px', 'max-width') {
    margin: -30px auto ;
    float: left;
    margin-left: 45%;
 
  }
}

.intro-image-2 {
  display: none;
}

.intro {
  .next, .start {
    background-color: white;
    color: $purple;

    .next-arrow {
      border-left: 20px solid $purple;
    }

    &:hover {
      background-color: $purple;
      color: white;

      .next-arrow {
        border-left: 20px solid white;
      }
    }
  }
}


.intro-bubble {
  float: left;
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.intro-bubble-1 {
  background: url(img/purple-bubble.png) no-repeat center;
  height: 260px;
  max-width: 100%;
  background-size: contain;
  .bubble-text{
 
        margin-top: 45px;
 
  }
}

.intro-bubble-2 {
  background: url(img/purple-bubble-2.png) no-repeat center;
  display: none;
  height: 289px;
  background-size: contain;
  max-width: 70%;

  @include mq('1080px', 'max-width') {
    max-width: 100%;
 
  }

  .bubble-text {
    h1 {
      font-size: 2em;
      margin: 1em 0;
    }
  }
}

.module-image-reward {
  width: 200px;
}

.module-tools {
  float: right;
  padding: 5px 0px;
  border-radius: 20px;
  display: inline-block;
  z-index: 10;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.08em;
  margin-bottom: 20px;
  text-align: right;

  a {
    color: white;
    font-weight: bold;
  }
}

.menu-tools {
  float: left;
  padding: 5px 10px;
  border-radius: 20px;
  display: inline-block;
  z-index: 10;
  position: absolute;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.08em;
  right: 100px;

  a {
    color: white;
    font-weight: bold;
  }
}

.menu-tool {
  display: inline;
  padding-right: 20px;
}

.modules-image-left {
  width: 50%;
  float: left;
  padding-right: 20px;
}
