#teachers, #students, #password, #submit { display: none; }

#primary {
  padding: 100px 0;
}

.light-blue {
  background: $light-blue;
}

.bubble {
  float: left;
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  background: url(img/purple.png) no-repeat center;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
  height: 200px;
}

.bubble-text {
  color: white;
  text-align: center;
}

.farmer {
  float: left;
  position: relative;
  width: 100%;
  text-align: left;
}

// Login

.login-form select {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  height: 50px;
  border: white;
  overflow: hidden;
  width: 100%;
  background: url(img/down_arrow.png) no-repeat right white;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
  background-position: right 20px center;
  padding-left: 20px;
  text-transform: uppercase;
  color: $light-green;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-form select option {
  text-transform: capitalize;
}

.login-form input {
  background: white;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: $light-green;
  padding-left: 20px;
  margin-bottom: 20px;
}

.login-text {
  text-align: center;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  height: 200px;
  margin-top: -100px;
}

.login-button {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 200px;
  background: white;
  background-position: right 20px center;
  text-align: center;
  padding: 10px 20px;
  height: 50px;
  color: $purple;
  font-weight: bold;
}

#submit {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 0;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 200px;
  background: url(img/signin.png) no-repeat right white;
  background-position: right 20px center;
  text-align: left;
  padding-left: 20px;
  height: 50px;
  color: $purple;
  font-weight: bold;
}

// Modules

.module-text {
  color: white;
  padding-right: 50px;

  span {
    color: $purple;
  }
}

.module-list {
  float: left;
  width: 100%;
  border: 5px white dashed;
  border-radius: 10px;
  padding: 10px 0;

  .module {
    width: 100%;
    float: left;
    padding: 10px 25px;
    text-transform: uppercase;
    color: white;
    text-weight: bold;
    position: relative;
    cursor: pointer;

    h2 {
      line-height: 0;
    }

    a {
      color: white;
    }
  }
}

.checkbox {
  position: absolute;
  right: 25px;
  top: 15px;
}

.checkmark {
  position: absolute;
  right: 19px;
  top: 5px;
}

.module-section {
  float: left;
  width: 100%;
  position: relative;
  min-height: 75px;
}

// Question

.menu-bar {
  text-transform: uppercase;
  font-weight: bold;
  float: left;
}

.menu-game-name {
  color: white;
}

.menu-title {
  font-weight: bold;
  float: left;
  padding: 5px 10px;
  border-radius: 20px;
  display: inline-block;
  z-index: 10;
  position: relative;
}

.menu-sound {
  background-color: white;
  padding: 5px 10px 5px 40px;
  display: inline-block;
  float: left;
  position: relative;
  border-radius: 20px;
  left: -30px;
}

.post-type-archive-modules, .page-template-student-login {
  background: $light-blue;
}

.next {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 0;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 250px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  font-weight: bold;

  .next-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    float: right;
  }
  .next-text {
    float: left;
  }
}

.prev {
  position: absolute;
  left: 0;
  bottom: 0;
  border: 0;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 250px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  font-weight: bold;

  .prev-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    float: left;
  }
  .prev-text {
    float: right;
  }
}

.print {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 0;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 250px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  font-weight: bold;

  .print-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    float: right;
  }
  .print-text {
    float: left;
  }
}

.return {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 0;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 250px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  font-weight: bold;

  .return-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    float: right;
  }
  .return-text {
    float: left;
  }
}


// Progress bar

.progress-farm {
  height: 25px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.progress-farm-point {
  float: left;
  height: 25px;
}

.progress-farm-point-sprout {
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin: auto;
  position: relative;
  top: -20px;
}

.progress-farm-point-plant {
  background-repeat: no-repeat;
  width: 40px;
  height: 75px;
  margin: auto;
  position: relative;
  top: -50px;
  display: none;
}

.module-1 {
  background: $green;

  .menu-title {
    background: $dark-green;
  }
  .menu-module-name {
    color: $light-green;
  }
  .menu-sound {
    color: $dark-green;
  }
  .progress-plate {
    background: $dark-green;
  }
  .prev {
    background-color: $dark-green;
    color: $light-green;

    .prev-arrow {
      border-right: 20px solid $light-green;
    }
  }

  .next, .print, .return {
    background-position: right 20px center;
    background-color: white;
    color: $dark-green;

    .next-arrow {
      border-left: 20px solid $dark-green;
    }

  }

  .progress-farmer {
    background-image: url(img/farmer-purple.png);
  }

  .progress-farm {
    background-color: $purple;
  }

  .progress-farm-point-sprout {
    background-image: url(img/sprout-green.png);
  }

  .progress-farm-point-plant {
    background-image: url(img/plant-green.png);
  }

  .reward-image-1 {
    background-image: url(img/asparagus.png);
  }

  .reward-image-2 {
    background-image: url(img/broccoli.png);
  }

  .reward-image-3 {
    background-image: url(img/carrot.png);
  }

  .reward-image-4 {
    background-image: url(img/beans-active.png);
  }

}

.module-2 {
  background: $blue;

  .menu-title {
    background: $dark-blue;
  }
  .menu-module-name {
    color: $light-blue;
  }
  .menu-sound {
    color: $dark-blue;
  }
  .progress-plate {
    background: $dark-blue;
  }
  .prev {
    background-color: $dark-blue;
    color: $light-blue;

    .prev-arrow {
      border-right: 20px solid $light-blue;
    }
  }

  .next, .print, .return {
    background-position: right 20px center;
    background-color: white;
    color: $dark-blue;

    .next-arrow {
      border-left: 20px solid $dark-blue;
    }

  }

  .module-text {
    span {
      color: #ffcd2b;
    }
  }

  .progress-farm {
    background-color: $yellow;
  }

  .progress-farmer {
    background-image: url(img/farmer-blue.png);
  }

  .progress-farm-point-sprout {
    background-image: url(img/sprout-blue.png);
  }

  .progress-farm-point-plant {
    background-image: url(img/plant-blue.png);
  }

  .reward-image-1 {
    background-image: url(img/banana.png);
  }

  .reward-image-2 {
    background-image: url(img/apple.png);
  }

  .reward-image-3 {
    background-image: url(img/orange.png);
  }

  .reward-image-4 {
    background-image: url(img/pear.png);
  }

}

.module-3 {
  background: $red;

  .menu-title {
    background: $dark-red;
  }
  .menu-module-name {
    color: $light-red;
  }
  .menu-sound {
    color: $dark-red;
  }
  .progress-plate {
    background: $dark-red;
  }
  .prev {
    background-color: $dark-red;
    color: $light-red;

    .prev-arrow {
      border-right: 20px solid $light-red;
    }
  }

  .next, .print, .return {
    background-position: right 20px center;
    background-color: white;
    color: $dark-red;

    .next-arrow {
      border-left: 20px solid $dark-red;
    }

  }

  .module-text {
    span {
      color: #0ed59c;
    }
  }

  .progress-farmer {
    background-image: url(img/farmer-red.png);
  }

  .progress-farm {
    background-color: $green;
  }

  .progress-farm-point-sprout {
    background-image: url(img/sprout-red.png);
  }

  .progress-farm-point-plant {
    background-image: url(img/plant-red.png);
  }

  .reward-image-1 {
    background-image: url(img/oatmeal.png);
  }

  .reward-image-2 {
    background-image: url(img/bread.png);
  }

  .reward-image-3 {
    background-image: url(img/pasta.png);
  }

  .reward-image-4 {
    background-image: url(img/rice.png);
  }
}

.module-4 {
  background: $purple;

  .menu-title {
    background: $dark-purple;
  }
  .menu-module-name {
    color: $light-purple;
  }
  .menu-sound {
    color: $dark-purple;
  }
  .progress-plate {
    background: $dark-purple;
  }
  .prev {
    background-color: $dark-purple;
    color: $light-purple;

    .prev-arrow {
      border-right: 20px solid $light-purple;
    }
  }

  .next, .print, .return {
    background-position: right 20px center;
    background-color: white;
    color: $dark-purple;

    .next-arrow {
      border-left: 20px solid $dark-purple;
    }

  }

  .module-text {
    span {
      color: #0ed59c;
    }
  }

  .progress-farmer {
    background-image: url(img/farmer-purple.png);
  }

  .progress-farm {
    background-color: $green;
  }

  .progress-farm-point-sprout {
    background-image: url(img/sprout-purple.png);
  }

  .progress-farm-point-plant {
    background-image: url(img/plant-purple.png);
  }

  .reward-image-1 {
    background-image: url(img/ham.png);
  }

  .reward-image-2 {
    background-image: url(img/eggs.png);
  }

  .reward-image-3 {
    background-image: url(img/fish.png);
  }

  .reward-image-4 {
    background-image: url(img/chicken.png);
  }
}

.module-5 {
  background: $yellow;

  .menu-title {
    background: $dark-yellow;
  }
  .menu-module-name {
    color: $light-yellow;
  }
  .menu-sound {
    color: $dark-yellow;
  }
  .progress-plate {
    background: $dark-yellow;
  }
  .prev {
    background-color: $dark-yellow;
    color: $light-yellow;

    .prev-arrow {
      border-right: 20px solid $light-yellow;
    }
  }

  .next, .print, .return {
    background-position: right 20px center;
    background-color: white;
    color: $dark-yellow;

    .next-arrow {
      border-left: 20px solid $dark-yellow;
    }

  }

  .module-text {
    span {
      color: #0072bc;
    }
  }

  .progress-farmer {
    background-image: url(img/farmer-blue.png);
  }

  .progress-farm {
    background-color: $blue;
  }

  .progress-farm-point-sprout {
    background-image: url(img/sprout-blue.png);
  }

  .progress-farm-point-plant {
    background-image: url(img/plant-blue.png);
  }

  .reward-image-1 {
    background-image: url(img/yogurt.png);
  }

  .reward-image-2 {
    background-image: url(img/cheese.png);
  }

  .reward-image-3 {
    background-image: url(img/milk.png);
  }

  .reward-image-4 {
    background-image: url(img/icecream.png);
  }
}

.module-6 {
  background: $orange;

  .menu-title {
    background: $dark-orange;
  }
  .menu-module-name {
    color: $light-orange;
  }
  .menu-sound {
    color: $dark-orange;
  }
  .progress-plate {
    background: $dark-orange;
  }
  .prev {
    background-color: $dark-orange;
    color: $light-orange;

    .prev-arrow {
      border-right: 20px solid $light-orange;
    }
  }

  .next, .print, .return {
    background-position: right 20px center;
    background-color: white;
    color: $dark-orange;

    .next-arrow {
      border-left: 20px solid $dark-orange;
    }

  }

  .progress-farmer {
    background-image: url(img/farmer-purple.png);
  }

  .progress-farm {
    background-color: $purple;
  }

  .progress-farm-point-sprout {
    background-image: url(img/sprout-purple.png);
  }

  .progress-farm-point-plant {
    background-image: url(img/plant-purple.png);
  }

  .reward-image-1 {
    background-image: url(img/yogurt.png);
  }

  .reward-image-2 {
    background-image: url(img/cheese.png);
  }

  .reward-image-3 {
    background-image: url(img/milk.png);
  }

  .reward-image-4 {
    background-image: url(img/icecream.png);
  }
}

.progress-plate {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100px;
  width: 100px;

  img {
    position: absolute;
    left: 8px;
    top: 10px;
  }
}

.module-image {
  text-align: center;
}

.answer {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.answer-image {
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  height: 150px;
  position: relative;

  img {
    height: 95px;
  }
}

.answer-image-1 {
  background-image: url(img/star.png);

  &:hover {
    background-image: url(img/star-hover.png);

    img {
      height: 180px;
      position: relative;
      top: -60px;
    }
  }
}

.answer-image-1-hover {
  background-image: url(img/star-hover.png);

  img {
    height: 180px;
    position: relative;
    top: -60px;
  }
}

.answer-image-2 {
  background-image: url(img/circle.png);

  &:hover {
    background-image: url(img/little-hover.png);

    img {
      height: 180px;
      position: relative;
      top: -60px;
    }
  }
}

.answer-image-2-hover {
  background-image: url(img/little-hover.png);

  img {
    height: 180px;
    position: relative;
    top: -60px;
  }
}

.answer-image-3 {
  background-image: url(img/cloud.png);

  &:hover {
    background-image: url(img/cloud-hover.png);

    img {
      height: 180px;
      position: relative;
      top: -60px;
    }
  }
}

.answer-image-3-hover {
  background-image: url(img/cloud-hover.png);

  img {
    height: 180px;
    position: relative;
    top: -60px;
  }
}

.answer-image-4 {
  background-image: url(img/x.png);

  &:hover {
    background-image: url(img/x-hover.png);

    img {
      height: 180px;
      position: relative;
      top: -60px;
    }
  }
}

.answer-image-4-hover {
  background-image: url(img/x-hover.png);

  img {
    height: 180px;
    position: relative;
    top: -60px;
  }
}

.reward {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.reward-image-container {
  height: 200px;
  position: relative;
}

.reward-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 20px;
  height: 120px;
  padding: 30px 0;
  position: relative;
  top: 40px;

  &:hover {
    height: 200px;
    padding: 0;
    top: 0;
  }
}

.reward-image-hover {
  height: 200px;
  padding: 0;
  top: 0;
}

.question {
  display: none;
}

.module-number {
  color: #7f3198;
  line-height: 0;
}

.answer-text, .reward-text {
  margin: 10px;
}

.module-food {
  position: absolute;
  bottom: 0;
  right: 0;

  img {
    float: left;
  }
}

.page-template-login {
  background-color: #7f3198;
  background-image: url(img/vegetables.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.progress-farmer {
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  top: -35px;
}
